<!-- Search pages goes here
<div id="top_bar" class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li id="top_bar" class="menu-text">Rent Out n' Get Out</li>
    </ul>
  </div>-->
  <div class="top-bar-right">
    <ul class="menu">
        <!-- Need to fix button link -->
        <li><a id="login_button" href="#" class="button">LOGIN</a></li>
        <!-- Need to make link a button -->
        <li id="top_bar"><%= link_to "<button id='add_button'>ADD</button>".html_safe, new_rental_path %></li>
    </ul>
  </div>
</div>
